@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
  --needed-border : 2px solid black;
}

* {
  font-family: 'Nunito Sans', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 135px 1fr;
}


/* Sidebar Section Starts Here */
.sidebar {
  grid-row: 1/3;
  padding: 1em;
  background-color: rgb(18, 140, 233);
  color: white;
  height: 100vh;
  position: sticky;
  top: 0;
}

.title {
  text-align: center;
  padding-bottom: 2em;
  cursor: pointer;
}

.title > span {
  display: flex;
  gap: 0.4em;
  align-items: center;
  justify-content: center;
}

.title > span > i {
  font-size: 2.2em;
}

.regular-features {
  padding-bottom: 2em;
  
}

ul > span {
  display: flex;
  gap: 1em;
  cursor: pointer;
}

ul > span > li {
  list-style-type: none;
  padding-bottom: 1em;
  text-align: left;
  font-size: large;
}


/* Sidebar Section Ends Here */


/* Headere Section */

.header {
  grid-column: 2/4;
  grid-row: 1/2;
  background-color: #b96bf0;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0em 2em 0em 1em; 
}

/* Upper Heading Section Starts Here */

.upper-section {
  grid-column: 1/4;
  grid-row: 1/2;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding-top: 1em;
  /* border: var(--needed-border); */
}

.upper-left {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  /* border: var(--needed-border); */
}

.upper-left > i {
  padding-left: 1em;
}

.search {
  width: clamp(50%, 75%, 90%);
  height: clamp(2em, 2.5em, 3em);
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 1em;
  outline: none;
  padding-left: 10px;
}

.upper-right {
  /* border: var(--needed-border); */
}

.upper-right > ul {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1em;
}

.upper-right > ul > li {
  list-style-type: none;
  padding-left: .5em;
  font-size: large;
  font-weight: 600;
  color: #222;
  cursor: pointer;
}

/* Upper Heading Section Ends Here */


/* Lower Heading Section Starts Here */

.lower-section {
  grid-column: 1/4;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: var(--needed-border); */
}

.lower-left {
  display: flex;
  align-items: center; 
  width: 500px;
  gap: 20px;
  padding-bottom: 4px;
  cursor: pointer;
  /* border: var(--needed-border); */
}

.greet {
  font-size: small;
  font-weight: 600;
}
.username {
  font-size: large;
  font-weight: bold;
}

.lower-right > button {
  background-color: rgb(18, 140, 233);
  margin-left: 0.5em;
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 5em;
  font-weight: bolder;
  color: white;
  font-size: medium;
  cursor: pointer;
}

/* Lower Heading Section Ends Here */

/* Main Section Starts Here */

main {
  grid-column: 2/3;
  background-color: #b7e1ed63;
  padding: 1.5em 2em 2em 2em ;


  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 20px;

  overflow:auto;
}


/* Main Left Starts Here */
.main-left {
  grid-column: 1/2;
}

.your-projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.card {
  background-color: #fff;
  border-radius: 0 1em 1em 0 ;
  margin: 1em 1em 0em 0em ;
  padding: 1em 1.5em 2.5em 2em;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  height: 300px;
  border-left: 1em solid #152a30;
}

.project-name {
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 0.5em;
}

.card > span > div:last-child {
  padding-top: 0.5em;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2.5em 1.5em 0.5em 1em;
}

.card .material-icons {
  padding-left: 0.5em;
  cursor: pointer;
}



/* Main Left Ends Here */

/* Main Right Starts Here */
.main-right {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 15px;
}

.announcements {
  width: fit-content;
  /* padding: 0.5em; */
}

.heading {
  padding-bottom: 0.5em;
  padding-left: 0.5em;
}

.announcement-card {
  background-color: #fff;
  border-radius: 1em;
  margin: 1em 1em 0em 0em ;
  padding: 1em 1.5em 1.5em 1em;
  box-shadow: inset 4px 4px 8px 4px rgba(0, 0, 0, 0.25);
}

.announcement-card > span {
  padding: 0px 5px;
}


.trending {
  padding: 0.5em;
}

.trending-card {
  background-color: #fff;
  border-radius: 1em;
  margin: 1em 1em 0em 0em ;
  padding: 1em 1.5em 1em 1em;
  box-shadow: inset 4px 4px 8px 4px rgba(0, 0, 0, 0.25);
}

.trending-card > span {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
  padding: 1em;

}

.trending-card > span > img {
  object-fit: contain;
  background-color: azure;
  border-radius: 50%;
}

.trending-username {
  font-size: large;
  font-weight: 700;
}


/* Main Right Ends Here */



